.navbar {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
}

.logo-img {
    margin-left: 6px;
    background: transparent;
    width: 35px;
}

.logo {
    margin-right: auto;
    margin-left: 2px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.links {
    float: right;
    margin-right: 30px;
}

.links li {
    display: inline-block;
    margin: 0 10px;
    font-weight: 500;
    margin-top: 13px;
}

.links li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}